.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.displayvalue {
  background-color: #989898;
  font-size: 33px;
  width: 30rem;
  margin: auto;
  text-align: right;
  color: white;
  padding: 0.5rem 0;
}

.Number_container {
  display: flex;
  justify-content: center;
}

.Number {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.Number :nth-child(13) {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.operators {
  display: grid;
  align-items: center;
  justify-content: center;
}

.numberbtns {
  border: 1px solid lightgray;
  font-size: 25px;
  width: 150px;
  height: 60px;
  background-color: whitesmoke;
  cursor: pointer;
}

.operatorbtns {
  background-color: #f28c28;
}

.operatorbtns:hover {
  background-color: rgb(35, 131, 131);
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
